@media (max-width: 739px){


.cmt {
    font-size: 14px;
    /* padding: 8px 16px 4px; */
}

.highlight {
    font-weight: bold;
    color: #545452;
}

.cmt-sum {
    border-top: 6px solid #ddd;
    font-size: 12px;
    padding: 8px 16px 4px;
}

.cmt-user {
    width: 100%;
    height: 38px;
    display: flex;
    margin-top: 8px;
    padding: 0 10px;

}

.user-avatar {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.cmt-body {
    width: 100%;

}

.cmt-content {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0 8px;
}

.cmt-list {
    width: 100%;
    height: auto;
}

.cmt-item {
    margin-bottom: 15px;
}

.user-info {
    display: flex;
}

.comment-body {
    color: #1a1a1b;
    font-size: 14px;
    padding-left: 30px;
}

.cmt-interact{
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    
}
}